# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Joshua
NEXT_PUBLIC_SITE_DESCRIPTION=I run 5km every day. I read one book a week. I build things with code. I share what I learn.

# YouTube API
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

# GitHub API
GITHUB_TOKEN=
GITHUB_USERNAME=